/* Style 1 */
.nk-pricing-1 {
    position: relative;
    padding: 60px;
    background-color: #fff;
    margin-bottom: 90px;
    margin-right: 40px;
    height: calc(100% - 90px);
    box-shadow: 19px 18px 44px 10px rgba(0, 0, 0, 0.1);

    .nk-pricing-price {
        font-size: 4.5rem;
        line-height: 1;
        font-weight: bold;
        font-family: $font_headings;
        margin-bottom: 1rem;
    }

    .nk-pricing-title {
        margin: 0;
        font-size: 1.4rem;
        font-family: inherit;
        font-weight: normal;
        color: lighten(#000, 50%);
    }
    .nk-divider {
        opacity: 0.2;
    }

    .nk-pricing-features {
        list-style: none;
        margin: 0;
        padding: 0;

        > li + li {
            margin-top: 14px;
        }
    }

    .nk-pricing-cover {
        position: absolute;
        display: block;
        background-color: $color_main_1;
        top: 20px;
        left: 20px;
        right: -40px;
        bottom: -90px;
        z-index: -1;
        transform: translate(0, 0);
        transition: .3s transform;
    }
    .nk-pricing-button {
        position: absolute;
        display: block;
        text-decoration: none;
        font-size: 1.2rem;
        width: 100%;
        color: #fff;
        bottom: -90px;
        left: 20px;
        padding-left: 60px - 20px;
        height: 90px;
        line-height: 90px;
        z-index: 1;
        transform: translate(0, 0);
        transition: .3s transform;
    }

    &:hover,
    &.hover {
        .nk-pricing-cover,
        .nk-pricing-button {
            transform: translate(-2px, -2px);
        }
    }
}


/* Style 2 */
.nk-pricing-2 {
    position: relative;
    overflow: hidden;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba($color_dark_1, 0.1);

    .nk-pricing-header {
        position: relative;
        overflow: hidden;
        background-color: $color_dark_1;
        color: #fff;
        text-align: center;
        padding: 60px 0;
        padding-bottom: 100px;
    }
    .nk-pricing-body {
        position: relative;
        padding: 60px 0;

        &:before {
            content: '';
            position: absolute;
            display: block;
            background-color: #fff;
            top: 0;
            left: 0;
            width: 100%;
            height: 70px;
            transform: skewY(-5deg) translateY(-50%);
            transition: .3s transform;
        }
    }
    &:hover,
    &.hover {
        .nk-pricing-body:before {
            transform: skewY(-5deg) translateY(-40%);
        }
    }

    .nk-pricing-price {
        font-size: 4.5rem;
        line-height: 1;
        font-weight: bold;
        font-family: $font_headings;
        margin-bottom: 0.5rem;
    }

    .nk-pricing-currency,
    .nk-pricing-period {
        font-size: 1rem;
        font-family: $font_body;
        font-weight: normal;
    }
    .nk-pricing-currency {
        vertical-align: top;
    }

    .nk-pricing-title {
        margin: 0;
        font-size: 1.2rem;
        font-family: inherit;
        font-weight: normal;
    }

    .nk-pricing-features {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;

        > li + li {
            margin-top: 20px;
        }
    }

    .nk-pricing-button {
        margin-top: 50px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        max-width: 220px;
    }
}


/* Style 3 */
.nk-pricing-3 {
    position: relative;
    overflow: hidden;
    height: 100%;
    background-color: #fff;
    padding: 0 30px;
    box-shadow: 0 0 15px 0 rgba($color_dark_1, 0.05);
    text-align: center;

    .nk-pricing-title {
        margin: 0;
        font-size: 1.8rem;
        font-family: inherit;
        font-weight: normal;
    }

    .nk-pricing-price {
        font-size: 4rem;
        line-height: 1;
        font-weight: bold;
        font-family: $font_headings;
    }
    .nk-pricing-currency,
    .nk-pricing-period {
        font-size: 1rem;
        font-family: $font_body;
        font-weight: normal;
    }
    .nk-pricing-currency {
        vertical-align: top;
    }

    .nk-pricing-features {
        list-style: none;
        margin: 0;
        padding: 0;

        > li + li {
            margin-top: 20px;
        }
    }

    .nk-pricing-button {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 220px;
    }

    // padding and separator for all blocks
    .nk-pricing-title,
    .nk-pricing-price,
    .nk-pricing-features,
    .nk-pricing-button {
        position: relative;
        padding: 40px 0;

        &:after {
            position: absolute;
            bottom: 0;
            content: '';
            display: block;
            width: 100%;
            border-bottom: 1px solid;
            opacity: 0.1;
        }
    }
    .nk-pricing-button:after {
        content: none;
    }
}


/* Style Menu */
.nk-pricing-menu {
    position: relative;
    overflow: hidden;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 50px 0 rgba($color_dark_1, 0.1);
    z-index: 1;

    &.no-shadow {
        box-shadow: 0 0 0 1px rgba($color_dark_1, 0.1);
    }

    .nk-pricing-menu-item {
        + .nk-pricing-menu-item {
            margin-top: 35px;
        }
    }

    .nk-pricing-header {
        display: table;

        > * {
            display: table-cell;
            vertical-align: baseline;
            width: 1%;
            white-space: nowrap;
        }

        .nk-pricing-title-dots {
            position: relative;
            width: 98%;

            &:after {
                content: '';
                display: block;
                bottom: 0;
                left: 0;
                right: 0;
                margin-left: 7px;
                margin-right: 7px;
                border-bottom: 2px dotted;
                opacity: 0.2;
            }
        }
    }

    .nk-pricing-price {
        font-weight: bold;
    }

    .nk-pricing-title {
        margin: 0;
    }

    .nk-pricing-sub-title {
        font-size: 0.9rem;
        margin-top: 5px;
        opacity: 0.6;
    }
}

// fix for vertical center
.nk-vertical-center > div > .nk-pricing-1,
.nk-vertical-center > div > .nk-pricing-2,
.nk-vertical-center > div > .nk-pricing-3 {
    height: auto;
}
