.nk-audio-player-main {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -$audio_player_height;
    height: $audio_player_height;
    background-color: $color_dark_1;
    visibility: hidden;
    opacity: 0;
    color: #fff;
    z-index: 101;
    transition: .3s transform, .3s opacity, .3s cisibility;

    &.show {
        visibility: visible;
        opacity: 1;
    }

    &:before {
        content: '';
        position: absolute;
        display: block;
        left: 100px;
        right: 160px;
        top: -40px;
        height: 40px;
        z-index: 0;
    }

    &:hover,
    &.nk-audio-player-pin {
        transform: translateY(-$audio_player_height);
    }

    .nk-audio-inner {
        display: table;
        height: $audio_player_height;
        width: 100%;

        > div {
            display: table-cell;
            vertical-align: middle;
            white-space: nowrap;
        }
    }

    .nk-audio-controls,
    .nk-audio-settings {
        user-select: none;
    }
    .nk-audio-controls > div,
    .nk-audio-settings > div {
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        font-size: 1.1rem;
        width: 35px;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }

    // play pause
    .nk-audio-controls .nk-audio-play-pause {
        width: 38px;
        height: 38px;
        line-height: 38px;
        border-radius: 19px;
        text-align: center;
        background-color: #fff;
        color: $color_dark_1;

        .nk-audio-pause {
            display: none;
        }
    }
    &.nk-audio-player-playing .nk-audio-play-pause .nk-audio-play {
        display: none;
    }
    &.nk-audio-player-playing .nk-audio-play-pause .nk-audio-pause {
        display: block;
    }

    // title
    .nk-audio-title {
        padding: 0 20px;
        width: 99%;

        > div {
            display: table;
            table-layout: fixed;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
    }

    // time
    .nk-audio-time {
        white-space: nowrap;
        font-size: 0.9rem;
        padding-right: 15px;
    }

    // volume
    .nk-audio-volume {
        padding-right: 10px;
    }
    .nk-audio-volume-icon {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        font-size: 1.1rem;
        width: 15px;
        height: 30px;
        line-height: 30px;
        text-align: left;
    }
    .nk-audio-volume-icon-half,
    .nk-audio-volume-icon-small,
    .nk-audio-volume-icon-muted,
    &.volume-half .nk-audio-volume-icon-full,
    &.volume-small .nk-audio-volume-icon-full,
    &.volume-muted .nk-audio-volume-icon-full {
        display: none;
    }
    .nk-audio-volume-icon-full {
        display: block;
    }
    &.volume-half .nk-audio-volume-icon-half {
        display: block;
    }
    &.volume-small .nk-audio-volume-icon-small {
        display: block;
    }
    &.volume-muted .nk-audio-volume-icon-muted {
        display: block;
    }
    .nk-audio-volume-inner {
        position: relative;
        display: inline-block;
        width: 70px;
        margin-left: 5px;
        background-color: #555;
        vertical-align: middle;
    }

    // progress
    .nk-audio-progress {
        position: absolute;
        top: -1px;
        left: 0;
        right: 0;
        background-color: $color_dark_4;
        z-index: 1;
    }

    // volume + progress
    .nk-audio-volume-inner,
    .nk-audio-progress {
        height: 1px;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            display: block;
            top: -8px;
            bottom: -8px;
            left: 0;
            right: 0;
        }
    }
    .nk-audio-volume-inner .nk-audio-volume-current,
    .nk-audio-progress .nk-audio-progress-current {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        background-color: #bbb;
        transition: .3s background-color;
        z-index: 1;

        &:after {
            content: '';
            position: absolute;
            right: -2px;
            top: -2px;
            width: 5px;
            height: 5px;
            border-radius: 2.5px;
            background-color: #fff;
            transform: scale(0);
            transition: .3s transform;
        }
    }
    .nk-audio-volume-inner:hover .nk-audio-volume-current,
    .nk-audio-volume-inner.hover .nk-audio-volume-current,
    .nk-audio-progress:hover .nk-audio-progress-current,
    .nk-audio-progress.hover .nk-audio-progress-current {
        background-color: #fff;

        &:after {
            transform: scale(1);
        }
    }

    // playlist
    &.nk-audio-player-playlist-opened {
        transform: translateY(-$audio_player_height - $audio_player_playlist_height);
    }
    .nk-audio-player-playlist {
        position: absolute;
        background-color: $color_dark_1;
        top: 100%;
        left: 0;
        right: 0;
        height: $audio_player_playlist_height;
    }
    .nk-audio-player-playlist-inner {
        list-style: none;
        margin: 0;
        padding: 0;
        user-select: none;

        > li {
            display: table;
            width: 100%;
            padding: 13px;
            cursor: pointer;
            transition: .2s background-color;

            &:hover,
            &.nk-playlist-item-active {
                background-color: $color_dark_2;
            }
        }
    }
    .nk-playlist-play-pause {
        display: inline-block;
        vertical-align: middle;
        width: 22px;
        height: 22px;
        line-height: 22px;
        border-radius: 11px;
        text-align: center;
        background-color: #fff;
        color: $color_dark_1;
        margin-left: 7px;
        margin-right: 15px;
        font-size: 8px;

        .nk-playlist-pause {
            display: none;
        }
    }
    .nk-audio-player-playlist-inner > li.nk-playlist-item-playing .nk-playlist-play-pause .nk-playlist-play {
        display: none;
    }
    .nk-audio-player-playlist-inner > li.nk-playlist-item-playing .nk-playlist-play-pause .nk-playlist-pause {
        display: block;
    }
    .nk-playlist-item-duration {
        display: inline-block;
        text-align: right;
        font-size: 0.9rem;
        margin-right: 7px;
        width: 58px;
    }
    .nk-playlist-right > a {
        display: inline-block;
        color: inherit;
        text-decoration: none;
        text-align: center;
        width: 30px;
    }
    .nk-playlist-item-cont > div {
        display: table-cell;
        white-space: nowrap;
        vertical-align: middle;
    }
    .nk-playlist-item-cont .nk-playlist-title {
        width: 99%;

        > div {
            width: 100%;
            white-space: normal;
        }
    }

    // pin icon rotate
    .nk-audio-settings .nk-audio-pin {
        transform: rotate(45deg);
    }

    // highlight controls
    .nk-audio-settings .nk-audio-pin,
    .nk-audio-settings .nk-audio-loop,
    .nk-audio-settings .nk-audio-shuffle,
    .nk-audio-settings .nk-audio-playlist {
        opacity: 0.5;
    }
    &.nk-audio-player-pin .nk-audio-settings .nk-audio-pin,
    &.nk-audio-player-loop .nk-audio-settings .nk-audio-loop,
    &.nk-audio-player-shuffle .nk-audio-settings .nk-audio-shuffle,
    &.nk-audio-player-playlist-opened .nk-audio-settings .nk-audio-playlist {
        opacity: 1;
    }

    // mobile
    @media #{$media_xs} {
        bottom: -$audio_player_mobile_height;
        height: $audio_player_mobile_height;

        &:hover {
            transform: none;
        }
        &.nk-audio-player-pin,
        &.nk-audio-player-pin:hover {
            transform: translateY(-$audio_player_mobile_height);
        }
        &.nk-audio-player-playlist-opened,
        &.nk-audio-player-playlist-opened:hover {
            transform: translateY(-$audio_player_mobile_height - $audio_player_playlist_height);
        }

        .nk-audio-inner {
            display: block;
            height: $audio_player_mobile_height;
            text-align: center;

            .nk-audio-controls {
                padding-top: 20px;
                padding-bottom: 10px;
            }
            .nk-audio-title {
                padding-top: 10px;
                padding-bottom: 20px;
            }

            .nk-audio-controls,
            .nk-audio-title {
                display: block;
            }

            .nk-audio-time,
            .nk-audio-volume,
            .nk-audio-settings {
                display: inline-block;
            }

            .nk-audio-pin {
                display: none;
            }
        }
    }
}

/* Playlist */
.nk-audio-playlist-hidden {
    display: none;
}
.nk-audio-playlist {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
        display: table;
        padding: 13px;
        cursor: pointer;

        &:hover,
        &.nk-audio-playlist-item-active {
            background-color: $color_gray_4;
        }

        > div {
            display: table-cell;
            vertical-align: middle;
        }
        .nk-audio-playlist-title {
            width: 99%;
        }
        .nk-audio-playlist-buttons {
            white-space: nowrap;

            > a {
                display: inline-block;
                color: inherit;
                text-decoration: none;
                text-align: center;
                width: 30px;
            }
        }


        .nk-audio-playlist-play-pause {
            display: inline-block;
            vertical-align: middle;
            width: 22px;
            height: 22px;
            line-height: 22px;
            border-radius: 11px;
            text-align: center;
            background-color: $color_dark_4;
            color: #fff;
            margin-left: 7px;
            margin-right: 15px;
            font-size: 8px;

            .nk-audio-playlist-pause {
                display: none;
            }
        }
        &.nk-audio-playlist-item-playing .nk-audio-playlist-play-pause .nk-audio-playlist-play {
            display: none;
        }
        &.nk-audio-playlist-item-playing .nk-audio-playlist-play-pause .nk-audio-playlist-pause {
            display: block;
        }
        .nk-audio-playlist-duration {
            display: inline-block;
            text-align: right;
            font-size: 0.9rem;
            margin-right: 7px;
            width: 58px;
        }
    }

    // dark
    &.nk-audio-playlist-dark {
        > li {
            &:hover,
            &.nk-audio-playlist-item-active {
                background-color: $color_dark_2;
            }
            .nk-audio-playlist-play-pause {
                background-color: #fff;
                color: $color_dark_1;
            }
        }
    }
}

/* Plain Audio Player */
.nk-audio-plain {
    display: table;
    width: 100%;
    padding: 20px 15px;
    background-color: #fff;

    > div {
        display: table-cell;
    }
    .nk-audio-plain-title {
        width: 99%;
    }
    .nk-audio-plain-buttons {
        white-space: nowrap;

        > a {
            display: inline-block;
            color: inherit;
            text-decoration: none;
            text-align: center;
            width: 30px;
        }
    }


    .nk-audio-plain-play-pause {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
        background-color: $color_dark_4;
        color: #fff;
        width: 38px;
        height: 38px;
        line-height: 38px;
        border-radius: 19px;
        margin-left: 7px;
        margin-right: 15px;
        font-size: 1.1rem;

        .nk-audio-plain-pause {
            display: none;
        }
    }
    &.nk-audio-plain-playing .nk-audio-plain-play-pause .nk-audio-plain-play {
        display: none;
    }
    &.nk-audio-plain-playing .nk-audio-plain-play-pause .nk-audio-plain-pause {
        display: block;
    }
    .nk-audio-plain-duration {
        display: inline-block;
        text-align: right;
        font-size: 0.9rem;
        margin-right: 7px;
        width: 58px;
    }

    // progress
    .nk-audio-progress {
        position: relative;
        background-color: #ddd;
        cursor: pointer;
        left: 0;
        right: 0;
        height: 1px;
        margin-top: 2px;
        margin-bottom: 2px;
        z-index: 1;

        &:before {
            content: '';
            position: absolute;
            display: block;
            top: -8px;
            bottom: -8px;
            left: 0;
            right: 0;
        }
    }
    .nk-audio-progress .nk-audio-progress-current {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        background-color: #777;
        transition: .3s background-color;
        z-index: 1;

        &:after {
            content: '';
            position: absolute;
            right: -2px;
            top: -2px;
            width: 5px;
            height: 5px;
            border-radius: 2.5px;
            background-color: $color_dark_4;
            transform: scale(0);
            transition: .3s transform;
        }
    }
    .nk-audio-progress:hover .nk-audio-progress-current,
    .nk-audio-progress.hover .nk-audio-progress-current {
        background-color: $color_dark_4;

        &:after {
            transform: scale(1);
        }
    }


    &.nk-audio-plain-dark {
        background-color: $color_dark_2;
        color: #fff;

        .nk-audio-plain-play-pause {
            background-color: #fff;
            color: $color_dark_1;
        }

        .nk-audio-progress {
            background-color: $color_dark_4;

            .nk-audio-progress-current {
                background-color: #bbb;

                &:after {
                    background-color: #fff;
                }
            }
        }
        .nk-audio-progress:hover .nk-audio-progress-current,
        .nk-audio-progress.hover .nk-audio-progress-current {
            background-color: #fff;
        }
    }
}
