.nk-fullpage {
    position: relative;
    display: block;
    width: 100%;

    .nk-fullpage-item {
        position: relative;
        display: table;
        height: 100vh;
        width: 100%;
        overflow: auto;
        background-size: cover;
        background-position: 50% 50%;

        > div {
            display: table-cell;
            vertical-align: middle;
        }
    }
}
.nk-fullpage-nav {
    position: fixed;
    list-style: none;
    margin: 0;
    padding: 0;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) translateX(100%);
    visibility: hidden;
    opacity: 0;
    transition: .3s visibility, .3s opacity, .3s transform;

    &.active {
        transform: translateY(-50%) translateX(0);
        visibility: visible;
        opacity: 1;
    }

    > li {
        position: relative;
        cursor: pointer;
        width: 20px;
        height: 20px;
        font-size: 0;

        &:after {
            content: '';
            display: block;
            position: absolute;
            background-color: #fff;
            top: 4px;
            left: 4px;
            width: 12px;
            height: 12px;
            border-radius: 6px;
            transform: scale(0.4);
            transition: .2s transform;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        }
        &:hover:after {
            transform: scale(0.6);
        }
        &.active:after {
            transform: scale(1);
        }
    }
}
