
@mixin set-page-border($size: 35px) {
    .nk-page-border-t,
    .nk-page-border-b {
        height: $size;
    }
    .nk-page-border-r,
    .nk-page-border-l {
        width: $size;
    }
    & ~ {
        .nk-main {
            margin: $size;
        }

        // navbar
        .nk-header,
        .nk-header .nk-navbar.nk-navbar-fixed {
            top: $size;
            margin-left: $size;
            margin-right: $size;
        }

        // navbar left
        .nk-navbar-left.nk-navbar-side {
            left: $size;
            top: $size;
            bottom: $size;
        }

        // side navbar
        .nk-navbar-side {
            top: $size;
            bottom: $size;
        }
        .nk-navbar-side.nk-navbar-right-side {
            right: $size;
        }
        .nk-navbar-side.nk-navbar-left-side {
            left: $size;
        }

        // full navbar
        .nk-navbar-full {
            top: $size;
            left: $size;
            right: $size;
            bottom: $size;
        }

        // nav togglers
        .nk-nav-toggler-right {
            top: $size + 20px;
            right: $size + 20px;
        }
        .nk-nav-toggler-left {
            top: $size + 20px;
            left: $size + 20px;
        }

        // search
        .nk-search {
            left: $size;
            right: $size;
            bottom: $size;
        }

        // share
        .nk-share-place {
            left: $size;
            right: $size;
            top: -$share_place_height + $size;
        }

        // audio player
        .nk-audio-player-main {
            bottom: $size - $audio_player_height;
            left: $size;
            right: $size;
        }

        // side buttons
        .nk-side-buttons {
            right: $size;
            bottom: $size;
        }

        // page nav
        .nk-page-nav {
            .nk-page-nav-prev {
                left: -$page_nav_width + $size;
            }
            .nk-page-nav-next {
                right: -$page_nav_width + $size;
            }
        }
        .nk-page-nav-2 {
            .nk-page-nav-prev {
                left: -$page_nav_2_width + $size;
            }
            .nk-page-nav-next {
                right: -$page_nav_2_width + $size;
            }
        }

        // bootstrap modal
        .nk-main .nk-modal.modal,
        .nk-modal.modal {
            left: $size;
            right: $size;
            bottom: $size;
            top: $size;
        }
    }
}

@media #{$media_larger_xs} {
    .nk-page-border {
        .nk-page-border-t,
        .nk-page-border-r,
        .nk-page-border-b,
        .nk-page-border-l {
            position: fixed;
            z-index: 2000;
            background-color: $page_border_color;
        }
        .nk-page-border-t,
        .nk-page-border-b {
            left: 0;
            width: 100%;
        }
        .nk-page-border-t {
            top: 0;
        }
        .nk-page-border-b {
            bottom: 0;
        }
        .nk-page-border-r,
        .nk-page-border-l {
            top: 0;
            height: 100%;
        }
        .nk-page-border-r {
            right: 0;
        }
        .nk-page-border-l {
            left: 0;
        }
    }

    .nk-page-border {
        @include set-page-border($page_border_size);
    }
    .nk-page-border.nk-page-border-md {
        @include set-page-border($page_border_size_md);
    }
    .nk-page-border.nk-page-border-sm {
        @include set-page-border($page_border_size_sm);
    }
}
