
/* Fixed Nav */
.nk-page-nav {
    .nk-page-nav-prev,
    .nk-page-nav-next {
        position: fixed;
        display: block;
        color: #fff;
        top: 50%;
        width: $page_nav_width;
        height: $page_nav_height;
        background-color: $color_dark_1;
        transform: translate(0, -$page_nav_height / 2);
        perspective: 600px;
        transition: .3s transform;
        transform-style: preserve-3d;
        z-index: 100;

        &.disabled {
            transform: translate(0, -$page_nav_height / 2) !important;
            opacity: 0.2;
            cursor: default;

            .icon {
                transform: none !important;
            }
        }

        &:hover,
        &.hover,
        &:focus,
        &:active {
            color: #fff;
            text-decoration: none;
        }

        .icon {
            position: absolute;
            display: block;
            text-align: center;
            font-size: 1.7rem;
            background-color: $color_dark_1;
            width: $page_nav_arrow_width;
            top: 0;
            bottom: 0;
            transition: .4s transform;
            z-index: -2;
            overflow: hidden;

            > * {
                position: absolute;
                line-height: 1;
                top: 50%;
                left: 0;
                width: 100%;
                transform: translateY(-50%);
            }
        }

        .nk-page-nav-img,
        .nk-page-nav-img > div {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-position: 50% 50%;
            background-size: cover;
            z-index: -1;
        }

        // title
        .nk-page-nav-title {
            position: absolute;
            display: block;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 15px;
            background: linear-gradient(to top, rgba($color_dark_1, 0.6), rgba($color_dark_1, 0));
        }
    }
    .nk-page-nav-prev {
        left: -$page_nav_width;

        &:hover,
        &.hover {
            transform: translate($page_nav_width, -$page_nav_height / 2);
        }

        .icon {
            right: -$page_nav_arrow_width;
            transform-origin: 0% 50%;
        }
        &:hover .icon {
            transform: rotateY(100deg);
        }
    }
    .nk-page-nav-next {
        right: -$page_nav_width;

        &:hover,
        &.hover {
            transform: translate(-$page_nav_width, -$page_nav_height / 2);
        }

        .icon {
            left: -$page_nav_arrow_width;
            transform-origin: 100% 50%;
        }
        &:hover .icon {
            transform: rotateY(-100deg);
        }
    }
}


/* Fixed Nav 2 */
.nk-page-nav-2 {
    .nk-page-nav-prev,
    .nk-page-nav-next {
        position: fixed;
        display: table;
        color: #fff;
        top: 50%;
        width: $page_nav_2_width;
        height: $page_nav_2_height;
        background-color: $color_dark_1;
        padding: $page_nav_2_height * 0.15;
        transform: translate(0, -$page_nav_2_height / 2);
        perspective: 600px;
        transition: .3s transform;
        transform-style: preserve-3d;
        z-index: 100;

        &.disabled {
            transform: translate(0, -$page_nav_2_height / 2) !important;
            opacity: 0.2;
            cursor: default;

            .icon {
                transform: none !important;
            }
        }

        &:hover,
        &.hover,
        &:focus,
        &:active {
            color: #fff;
            text-decoration: none;
        }

        .icon {
            position: absolute;
            display: block;
            text-align: center;
            font-size: 1.7rem;
            background-color: $color_dark_1;
            width: $page_nav_2_arrow_width;
            top: 0;
            bottom: 0;
            transition: .4s transform;
            z-index: -2;
            overflow: hidden;

            > * {
                position: absolute;
                line-height: 1;
                top: 50%;
                left: 0;
                width: 100%;
                transform: translateY(-50%);
            }
        }

        .nk-page-nav-img {
            display: table-cell;
            height: $page_nav_2_height - $page_nav_2_height * 0.3;
            width: 0.1px;
            padding-right: $page_nav_2_height * 0.15;
        }
        .nk-page-nav-img > img {
            height: 100%;
        }

        // title
        .nk-page-nav-title {
            display: table-cell;
            vertical-align: top;
        }
    }
    .nk-page-nav-prev {
        left: -$page_nav_2_width;

        &:hover,
        &.hover {
            transform: translate($page_nav_2_width, -$page_nav_2_height / 2);
        }

        .icon {
            right: -$page_nav_2_arrow_width;
            transform-origin: 0% 50%;
        }
        &:hover .icon {
            transform: rotateY(100deg);
        }
    }
    .nk-page-nav-next {
        right: -$page_nav_2_width;

        &:hover,
        &.hover {
            transform: translate(-$page_nav_2_width, -$page_nav_2_height / 2);
        }

        .icon {
            left: -$page_nav_2_arrow_width;
            transform-origin: 100% 50%;
        }
        &:hover .icon {
            transform: rotateY(-100deg);
        }
    }
}

/* Static Nav */
.nk-page-nav-3 {
    position: relative;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    // grid icon
    .nk-page-nav-grid {
        display: block;
        color: inherit;
        text-decoration: none;
        text-align: center;
        font-size: 2rem;
        padding: 17px 0;
        width: 19%;
        margin: 0 auto;
    }

    // next and prev
    .nk-page-nav-prev,
    .nk-page-nav-next {
        position: relative;
        cursor: pointer;
        display: block;
        width: 40%;
        min-height: 80px;
        padding: 17px 0;
        color: inherit;
        text-decoration: none;

        &.disabled {
            opacity: 0.2;
            cursor: default;
            pointer-events: none;
        }
    }
    .nk-page-nav-prev {
        float: left;
        text-align: left;
        padding-left: 45px;
        padding-right: 20px;
    }
    .nk-page-nav-next {
        float: right;
        text-align: right;
        padding-right: 45px;
        padding-left: 20px;
    }

    // title
    .nk-page-nav-title {
        font-family: $font_headings;
        font-weight: bold;
        font-size: 1.2rem;
    }

    // arrows
    .nk-icon-arrow-right,
    .nk-icon-arrow-left {
        position: absolute;
        top: 40px;
    }
    .nk-icon-arrow-right {
        right: 0;
    }
    .nk-icon-arrow-left {
        left: 0;
    }

    @media #{$media_xxs} {
        .nk-page-nav-grid,
        .nk-page-nav-prev,
        .nk-page-nav-next {
            width: 100%;
            float: none;
            text-align: center;
        }
        .nk-page-nav-prev,
        .nk-page-nav-next {
            padding: 17px;
        }
    }
}
